.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 10px;
    border: 1.5px solid black;
    margin-bottom: 10px;
    border-radius: 20px;
    font-family: cursive;
    background-color: #fff6ed;
    
  }
  
  .cart-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
  }
  
  .clear-button,
  .order-button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #eaccad;
    color: #fff;
    border: none;
    border:1.5px solid black;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  .order-button,
  .clear-button:hover {
    background-color: #834f23;
    transition: transform 1s ease;
    transform: scale(1.2);
  }

  
.empty{
  border:1px solid black ;
  padding-top: 40px;
  padding-bottom: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 1.5px solid black;
  border-radius: 20px;
  background-color: #fff6ed;
  animation: rotate 3s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* Inicio de la rotación */
  }
  to {
    transform: rotate(360deg); /* Final de la rotación */
  }
}

